table {
  width: 100%;
  border-top: 1px black solid;
  border-left: 1px black solid;
}

td {
  height: 106px;
  /*
  margin: 5px;
  padding: 5px;
  */
  border-bottom: 1px black solid;
  border-right: 1px black solid;
}
#R0C0 { background: url(../img/R0C0.png) no-repeat; }
#R0C1 { background: url(../img/R0C1.png) no-repeat; }
#R0C2 { background: url(../img/R0C2.png) no-repeat; }
#R0C3 { background: url(../img/R0C3.png) no-repeat; }
#R0C4 { background: url(../img/R0C4.png) no-repeat; }
#R0C5 { background: url(../img/R0C5.png) no-repeat; }
#R0C6 { background: url(../img/R0C6.png) no-repeat; }
#R0C7 { background: url(../img/R0C7.png) no-repeat; }
#R0C8 { background: url(../img/R0C8.png) no-repeat; }
#R1C1 { background: url(../img/R1C1.png) no-repeat; }
#R1C7 { background: url(../img/R1C7.png) no-repeat; }

#R2C0 { background: url(../img/R2Cx.png) no-repeat; }
#R2C1 { background: url(../img/R2Cx.png) no-repeat; }
#R2C2 { background: url(../img/R2Cx.png) no-repeat; }
#R2C3 { background: url(../img/R2Cx.png) no-repeat; }
#R2C4 { background: url(../img/R2Cx.png) no-repeat; }
#R2C5 { background: url(../img/R2Cx.png) no-repeat; }
#R2C6 { background: url(../img/R2Cx.png) no-repeat; }
#R2C7 { background: url(../img/R2Cx.png) no-repeat; }
#R2C8 { background: url(../img/R2Cx.png) no-repeat; }

#R6C0 { background: url(../img/R6Cx.png) no-repeat; }
#R6C1 { background: url(../img/R6Cx.png) no-repeat; }
#R6C2 { background: url(../img/R6Cx.png) no-repeat; }
#R6C3 { background: url(../img/R6Cx.png) no-repeat; }
#R6C4 { background: url(../img/R6Cx.png) no-repeat; }
#R6C5 { background: url(../img/R6Cx.png) no-repeat; }
#R6C6 { background: url(../img/R6Cx.png) no-repeat; }
#R6C7 { background: url(../img/R6Cx.png) no-repeat; }
#R6C8 { background: url(../img/R6Cx.png) no-repeat; }

#R7C1 { background: url(../img/R7C1.png) no-repeat; }
#R7C7 { background: url(../img/R7C7.png) no-repeat; }
#R8C0 { background: url(../img/R8C0.png) no-repeat; }
#R8C1 { background: url(../img/R8C1.png) no-repeat; }
#R8C2 { background: url(../img/R8C2.png) no-repeat; }
#R8C3 { background: url(../img/R8C3.png) no-repeat; }
#R8C4 { background: url(../img/R8C4.png) no-repeat; }
#R8C5 { background: url(../img/R8C5.png) no-repeat; }
#R8C6 { background: url(../img/R8C6.png) no-repeat; }
#R8C7 { background: url(../img/R8C7.png) no-repeat; }
#R8C8 { background: url(../img/R8C8.png) no-repeat; }
