table {
  width: 100%;
  border-top: 1px black solid;
  border-left: 1px black solid;
}

td {
  height: 106px;
  /*
  margin: 5px;
  padding: 5px;
  */
  border-bottom: 1px black solid;
  border-right: 1px black solid;
}

#xy-helper {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 5px;
  padding: 5px;
  width: 75px;
  height: 20px;
  color: white;
  background-color: black;
}

.shogi * td:hover { background-color: yellow; }

.bishop-a { background: url(../img/bishop-a.png) no-repeat; }
.bishop-b { background: url(../img/bishop-b.png) no-repeat; }
.golden_general-a { background: url(../img/golden_general-a.png) no-repeat; }
.golden_general-b { background: url(../img/golden_general-b.png) no-repeat; }
.king-a { background: url(../img/king-a.png) no-repeat; }
.king-b { background: url(../img/king-b.png) no-repeat; }
.knight-a { background: url(../img/knight-a.png) no-repeat; }
.knight-b { background: url(../img/knight-b.png) no-repeat; }
.lance-a { background: url(../img/lance-a.png) no-repeat; }
.lance-b { background: url(../img/lance-b.png) no-repeat; }
.pawn-a { background: url(../img/pawn-a.png) no-repeat; }
.pawn-b { background: url(../img/pawn-b.png) no-repeat; }
.rook-a { background: url(../img/rook-a.png) no-repeat; }
.rook-b { background: url(../img/rook-b.png) no-repeat; }
.sachovnice_kameny { background: url(../img/sachovnice_kameny.png) no-repeat; }
.silver_general-a { background: url(../img/silver_general-a.png) no-repeat; }
.silver_general-b { background: url(../img/silver_general-b.png) no-repeat; }
