table.shogi {
  width: 100%;
  border-top: 1px black solid;
  border-left: 1px black solid;
}

table.shogi td {
  height: 80px;
  border-bottom: 1px black solid;
  border-right: 1px black solid;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected-figure { background-color: yellow !important; }
.possible-move { background-color: green !important; }
.possible-take { background-color: blue !important; }
.figure-in-danger { background-color: red !important; }

.bishop-a { background-image: url(../img/bishop-a.png); }
.bishop-b { background-image: url(../img/bishop-b.png); }
.golden_general-a { background-image: url(../img/golden_general-a.png); }
.golden_general-b { background-image: url(../img/golden_general-b.png); }
.king-a { background-image: url(../img/king-a.png); }
.king-b { background-image: url(../img/king-b.png); }
.knight-a { background-image: url(../img/knight-a.png); }
.knight-b { background-image: url(../img/knight-b.png); }
.lance-a { background-image: url(../img/lance-a.png); }
.lance-b { background-image: url(../img/lance-b.png); }
.pawn-a { background-image: url(../img/pawn-a.png); }
.pawn-b { background-image: url(../img/pawn-b.png); }
.rook-a { background-image: url(../img/rook-a.png); }
.rook-b { background-image: url(../img/rook-b.png); }
.sachovnice_kameny { background-image: url(../img/sachovnice_kameny.png); }
.silver_general-a { background-image: url(../img/silver_general-a.png); }
.silver_general-b { background-image: url(../img/silver_general-b.png); }
